.previous {
    font-size: large;
    background-color: gray;
    color: white;
    border: none;
    font-weight: bold;
}

.number {
    font-size: large;
    font-weight: 700;
    border: 2px solid gray;
}

.next {
    font-size: large;
    background-color: gray;
    color: white;
    border: none;
    font-weight: bold;
}

.previous:hover {
    background-color: #1877F2;
    text-decoration: 2px solid white underline;
}

.next:hover {
    background-color: #1877F2;
    text-decoration: 2px solid white underline;
}